.btn {
  padding: 20px 40px;
  background: linear-gradient(to right, #9300e8, #4a00ed);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 60px;
  transition: .5s;

  &:hover {
    box-shadow: 0 0 8px #0078f2;
    color: rgba(#fff, .7);
  }
}
