.navigtion {
  
}

.navigtion__list {
 display: flex;
 justify-content: space-between;

  @include tablets {
    flex-direction: column;
  }
}

.navigation__item {
  margin-right: 50px;
  transition: .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .6;
    }

    @include desktop {
      margin-right: 30px;
    }

    @include tablets {
      margin-right: 0;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 600;
    }
}