.reviews-description {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.reviews-description__title {
  font-size: 36px;
  font-weight: 700;
}

.reviews-description__btn  {
  margin-left: 120px;
}

