.reviews-description {
  display: flex;
  align-items: center;
  margin-bottom: 70px;

  @include phones {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.reviews-description__title {
  font-size: 36px;
  font-weight: 700;

  @include tablets {
    font-size: 30px;
    flex-grow: 1;
  }

  @include phones {
    margin-bottom: 20px;
  }
}

.reviews-description__btn  {
  margin-left: 120px;

  @include tablets {
   margin-left: 10px;
  }
}

