.user {
  display: flex;
}

.user__profile {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-right: 50px;
}

.user__description {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.user__greeting, .user__text {
  opacity: .6;
  font-weight: 600;
  line-height: 1.8;
  width: 65%;
  margin-top: 20px;
}

.user__name {
  font-size: 36px;
  font-weight: 700; 
}