.webcite-link {
  color: $links-color;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.webcite-link__icon {
  width: 20px;
  height: 20px;
  fill: $links-color;
  margin-right: 10px;
}

.webcite-link__text {
  display: block;
}