.works {
  padding: 0 0 100px;
}

.works__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 70px;
}

.works__content {
  display: flex;
}

.works__slider {
  width: 65%;
}

.works__description {
  width: 35%;
  display: flex;
  justify-content: center;
}