-
  const user = {
    city: "Томск",
    age: "29 лет",
    bday: "9 июня 1993"
  }

.user
  .user__profile
    #user-component
  .user__description
    p.user__greeting Привет, меня зовут
    h2.user__name Владислав Червяков
    p.user__text  Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.