.triangles
  svg.triangles__item(viewBox="0 0 1000 150" preserveAspectRatio="none")
    polygon(points="0,0 0,150 1000,150")
  svg.triangles__item(viewBox="0 0 1000 150" preserveAspectRatio="none")
    polygon(points="0,150 1000,150 1000,0")