.skills__descriprion
  h3.skills-title Чем я могу быть вам полезен
  p.skills-text Этот сайт я сделал в рамках обучения. Чуть позже я освежу в нём свой контент(нет). А пока посмотрите, как тут всё классно и красиво! И как много я умею(нет)
