include ./pug/layout/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title main page
  body
    .wrapper

      .welcome-section
      
        #parallax-component

        section.fullscreen-section.hello
          .container.hello__container
            include ./pug/components/hello/header.pug
            include ./pug/components/hello/content.pug
            .hello__scroll
              include ./pug/components/hello/scroll.pug
          .hello__burger-menu 
            include ./pug/components/hello/hamburger-menu.pug

        section.about
          .container
            include ./pug/components/about/about.pug

      section.skills
        include ./pug/components/about/triangles.pug
        .container
          include ./pug/components/skills/description.pug
          .skills__competences

            #competences-component

      section.works
        .container
          h2.works__title Мои работы
          
          #works-component

      .budda-section
        svg.triangles__budda(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 500,100 1000,0")
        .container
          section.reviews#review-component
            include ./pug/components/reviews/reviews.pug
          section.form-section
            include ./pug/components/form/form.pug
      
      footer.footer 
        .container.footer__container
          include ./pug/components/footer/footer.pug

    include ./templates/entry.pug